:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-color: #757575;
  --accent-btn-color: #fff;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

/* hero title color: #FFF;
   footer address color: rgba(255,255,255,.6); */

body {
  font-family: var(--main-font);
}

/* LOGO */
.logo-link {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  text-decoration: none;
  color: var(--title-color);
}
.accent {
  color: var(--accent-color);
}
.footer .logo-link {
  color: #fff;
}
/* END LOGO */

/* ===================== HEADER ===================== */
/* NAVIGATION */
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--title-color);
}
/* END NAVIGATION */

/* ADDRESS */
.header-info-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}
/* END ADDRESS */

.nav-list-link:hover,
.nav-list-link:focus,
.header-info-link:hover,
.header-info-link:focus {
  color: var(--accent-color);
}
.nav-list-link.active {
  color: var(--accent-color);
}
/* ===================== END HEADER ===================== */
/* ===================== FOOTER ===================== */
.footer {
  background-color: #2f303a; /* just to make text visible */
}
.footer-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.footer-info-text {
  color: var(--accent-btn-color);
}
.footer-info-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ===================== END FOOTER ===================== */
/* ===================== BODY INDEX ===================== */
/* HERO */
.hero {
  background-color: #2f303a; /* just to make text visible */
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-btn-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-btn-color);
}
/* END HERO */
/* SKILLS */
.skills-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.skills-item-text {
  font-weight: n400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-color);
}
/* END SKILLS */
/* ACTIVITIES */

/* END ACTIVITIES */
/* EMPLOYEES */
.employees-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.employees-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
/* END EMPLOYEES */
/* ===================== END BODY INDEX ===================== */
/* ===================== BODY PORTFOLIO ===================== */
.portfolio-control-item .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
.portfolio-control-item .btn:hover,
.portfolio-control-item .btn:focus {
  background-color: var(--accent-color); /* just to make text visible */
  color: var(--accent-btn-color);
}

.portfolio-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.portfolio-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--main-color);
}
/* ===================== END BODY PORTFOLIO ===================== */ ;
